<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/3rdPartyLibs")
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="dropdown" data-bind="css: { active: activePage == 'Documents' }">
                        <a class="dropdown-toggle split-button-dropdown" data-toggle="dropdown" href="#">
                            Documents <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Documents">Documents</a>
                            </li>
                            <li>
                                <a href="#">Conflicts</a>
                            </li>
                            <li>
                                <a href="#">Patch</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" data-bind="css: { active: activePage == 'Indexes' }">
                        <a class="dropdown-toggle split-button-dropdown" data-toggle="dropdown" href="#">
                            Indexes <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Indexes">Indexes</a>
                            </li>
                            <li>
                                <a href="#">Transformers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" data-bind="css: { active: activePage == 'Query' }">
                        <a class="dropdown-toggle split-button-dropdown" data-toggle="dropdown" href="#">
                            Query <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Query">Query</a>
                            </li>
                            <li>
                                <a href="#">Dynamic Query</a>
                            </li>
                            <li>
                                <a href="#">Reporting</a>
                            </li>
                        </ul>
                    </li>
                    <li data-bind="css: { active: activePage == 'Tasks' }">
                        <a href="/Tasks">Tasks</a>
                    </li>
                    <li data-bind="css: { active: activePage == 'Settings' }">
                        <a href="/Settings">Settings</a>
                    </li>
                    <li data-bind="css: { active: activePage == 'Status' }">
                        <a href="/Status">Status</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-plus"></i> New <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="icon-file"></i> Document</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-bolt"></i> Index</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-search"></i> Dynamic Query</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search">
                    <input type="text" class="search-query input-medium" placeholder="Go To Document" />
                </form>       
                <ul class="nav pull-right">
                    <li>
                        <a style="padding-right: 0; display: inline-block;" href="#">Databases &gt;</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-left: 5px;">
                            [current db] <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">nether</a>
                            </li>
                            <li>
                                <a href="#">zanzibar</a>
                            </li>
                            <li>
                                <a href="#">filet</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#" title="edit database settings"><i class="icon-cogs"></i></a></li>
                    <li><a class="brand" href="#">RavenDB</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="page">
        @RenderBody()
    </div>

    <footer class="footer">
        <div>
            <ul class="inline">
                <li><a href="#">Statistics: </a></li>
                <li><a href="#">N documents</a></li>
                <li><a href="#">N indexes</a></li>
                <li><a href="#">N stale</a></li>
                <li><a href="#">N errors</a></li>
                <li><a href="#">N triggers</a></li>
                <li><a href="#">N tasks</a></li>
                <li><a href="#">Raw Url: </a></li>
            </ul>
            <ul class="inline pull-right">
                <li><span>Licensing Status:</span></li>
                <li><a href="#">AGPL - Open Source</a></li>
                <li><span>Server Build #NNNN</span></li>
                <li><span>Client Build #NNNN</span></li>
            </ul>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>
